<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Papillon</title>

	<!-- CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- JS -->
	<script src="//localhost:35729/livereload.js"></script>
</head>
<body>
	
	asdfasdf324324

	asdfasdf

</body>
</html>